body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.main {
    background-color: #ffffff; /* Light brown color */
    padding: 20px auto;
    text-align: center;
    border-bottom:4px black;
    overflow: hidden;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #fff; /* White text color for contrast */
    background-color:#d2b48c ;
    font-family:system-ui, -apple-system;
    
}


.main2{
    text-align: center;
    background-color: #ffffff; /* Light brown color */
    padding: 100px;
    border-top:4px black;
    color: black;


    
}

.link {
    margin: 0;
    font-size: 24px;
    color: #000000; /* White text color for contrast */
    background-color:#000000 ;
    font-family: 'Lucida Sans', Geneva;
}
a {
    color: white;
}
.images{
    width: 100vw;
    height: auto;
}

.image-container {
    width: 100%;
    overflow: hidden;
}
.underlogo{
    display: flex;
}